* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (max-width: 767px) {
    
    #header {
        z-index: 99;
        width: 100% ;
        background: #05151E;
        position: fixed;
        padding: 0 16px;
        height: 55px;
        color: white;
    }
    #workspace {
        width: 100%;
        margin-left: 0px;
        background: white;
    }
    #module-info {
        color: #fff;
        min-height: 64px;
        padding-left: 10px;
    }
    #module-info i { font-size: 36px; }
    #module-info h1 {
        max-width: 100px;
        font-size: 18px;
        margin: 0;
    }
    #content {
        padding: 20px;
        padding-top: 55px;
        min-height: calc(100vh - 128px);
    }
    #footer {
        color: #5f6368;
        height: 40px;
        padding-left: 16px;
        border-top: 1px solid #cfd8dc;
        background: white;
        position: fixed;
        width: 100%;
        bottom: 0;
    }
    #sidebar {
        display:none;
        background: #162935;
        position: fixed;
        min-width: 190px;
        min-height: 100vh;
    }
}
@media (min-width: 768px) {
    #sidebar {
        background: #162935;
        position: fixed;
        min-width: 190px;
        min-height: 100vh;
    }
    #header {
        z-index: 99;
        width: calc(100% - 190px);
        background: #05151E;
        position: fixed;
        padding: 0 16px;
        height: 55px;
        color: white;
    }
    #workspace {
        width: calc(100% - 190px);
        margin-left: 190px;
        background: white;
    }
    #module-info {
        color: #fff;
        min-height: 64px;
        padding-left: 10px;
    }
    #module-info i { font-size: 36px; }
    #module-info h1 {
        max-width: 100px;
        font-size: 18px;
        margin: 0;
    }
    #content {
        padding: 20px;
        padding-top: 55px;
        min-height: calc(100vh - 128px);
    }
    #footer {
        color: #5f6368;
        height: 40px;
        padding-left: 16px;
        border-top: 1px solid #cfd8dc;
        background: white;
        position: fixed;
        width: calc(100% - 190px);
        bottom: 0;
    }
    .container {
        padding: 25px;
    }
}
